0033body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f8f8;
}
.logo {
    text-indent:-999999px:
    background: url('Logo_white.png');
    width: 100%;
    max-width:960px;
    height: 148px;
}
header {
    background-color: #003366;
    color: white;
    padding: 2em 0;
    text-align: center;
}
.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}
.about, .services, .contact {
    background: white;
    margin: 1em 0;
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
h1, h2 {
    color: #003366;
}
ul {
    list-style: disc inside;
    padding-left: 0;
}
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #003366;
    color: white;
}
a {
    color: #ff6600;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
